<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe-Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/stylefront.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"></div>
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="bar" placeholder="search recipes here">
        </div>
        <div class="Filter">
            <a href="/filter"><strong>Filter</strong></a>
        </div>
        
        <div class="Filter">
            <i class="fa-solid fa-bowl-food"></i>
            <a href="/submit"><strong>Submit</strong></a>
        </div> 

        <div class="whishlist">
            <div id="wish-logo"><i class="fa-solid fa-heart"></i></div>
       <a href="#"><strong>Wishlist</strong></a>
        </div>
        <div class="Account">
            <div id="p-logo"><i class="fa-solid fa-user"></i></div>
       <a href="#"><strong>Account</strong></a>
        </div>
    </div>
    <div class="homepage"></div>
    <div id="heading-1"><p>Most Popular Recipes</p></div>
    <div class="content">
        <div class="big-box1">
            <div class="box1"><div class="box-title"><a href="/medit">Mediterranean Chickpea Salad</a></div></div>
            <div class="box2"><div class="box-title"><a href="/chicken"> Chickpea Salad</a></div></div>
            <div class="box3"><div class="box-title"><a href="/chicken">Chicken Chickpea Salad</a></div></div>
            <div class="box4"><div class="box-title"><a href="/quinoa">Quinoa Salad</a></div></div>
        </div>
        
        <div class="big-box2">
            <div class="box5"><div class="box-title"><a href="/chicken">Mediterranean Chickpea Salad</a></div></div>
            <div class="box6"><div class="box-title"><a href="medit">Mediterranean Chickpea Salad</a></div></div>
            <div class="box7"><div class="box-title"><a href="chicken">Mediterranean Chickpea Salad</a></div></div>
            <div class="box8"><div class="box-title"><a href="chicken">Mediterranean Chickpea Salad</a></div></div>
        </div>
    </div>
    <div class="footer-section">
        <div class="green-color-part">
          <div class="foot-panel">
            <div class="footer-panel1">
              <ul>
                <p>Company</p>
                <br>
                <a>About us</a>
                <br>
                <a>Blog</a>
                <br>
                <a>contact us</a>
               </ul>
            </div>
            
            <div class="footer-panel2">
              <ul>
                <p>Support</p>
                <br>
                <a>Help Center</a>
                <br>
                <a>Safety Center</a>
                <br>
                <a>Community Guidelines</a>
               </ul>
            </div>
            <div class="footer-panel3">
              <ul>
                <p>Logout</p>
                <br>
                <a>Cookies Policy</a>
                <br>
                <a>Privacy Policy</a>
                <br>
                <a>Terms of Services</a>
                <br>
                <a>Law Environment</a>
               </ul>
            </div>
            
           
        </div>
      </div>
</body>
</html>


