<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/submit.css">
</head>
<body>
  <div class="main-container">
    <div class="image">
        <img src="/images/R.jpg">
    </div>
    <div class="small-container">
        <div class="heading">
            <h2>Submit Your Recipe</h2>
            <p>Share your amazing recipies with thousands of foodie people
                 across the world.Fill our form to get started.</p>
           </div>
                 <form>
                    <label for="email">Email</label>
                    <input type="email"class="email" id="email" placeholder="Enter your email">
                    <label for="recipe-name">recipe Name</label>
                    <input  type="text"class="recipe-name" id="recipe-name"placeholder="enter recipe name">
                    <label for="text-area">Description</label>
                    <textarea id="text-area"class="description"placeholder="Add your recipe!"></textarea>
                    <label for="ingridient">Ingredient</label>
                    <input type="text"id="ingridient"placeholder="Enter your recipe ingredient">
                    <h4>Product Image</h4>
                  <div class="button">
                    <a>choose File</a>
                    <a>Submit recipe</a>
                    
                  </div>
                    
        
                 </form>
    </div>

  </div>
</body>
</html>