body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
  }
  
  .filter {
    background-color: rgb(205, 138, 15);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .slider-container {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 120px;
  }
  
  input[type="range"] {
    width: 200px;
  }
  
  span {
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .apply-button{
    display: flex;
  }
  