* {
	box-sizing: border-box;
}
html {
	font-size: 16pt;
	line-height: 1.3;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-image: linear-gradient(-45deg, tomato, #b0b95b);
	display: grid;
	place-items: center;
	font-family: "Quicksand", sans-serif;
}

.card,
.process {
	width: 800px;
	margin: 25px auto 50px auto;
	padding: 25px;
	background-color: #fffbf2;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(77, 77, 77, 1);
}
.card {
	display: grid;
	grid: auto / 1fr 1fr;
	gap: 25px;
}
.columns {
	columns: 350px 2;
}
h1 {
	font-size: 2.5em;
	background-color: #b0b95b;
}
h1,
h2 {
	font-family: "Italiana", serif;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}
h2 {
	font-size: 1.75em;
	color: #fff;
	background-color: tomato;
}

ul,
ol {
	list-style-type: none;
}
ul.ingredients {
	padding: 0 15px;
}
ul.ingredients > li {
	padding: 5px 10px;
	border-bottom: 1px solid rgba(255, 99, 71, 0.3);
}
ul.pesto {
	margin: 0;
	padding: 20px 20px 0 20px;
}
li {
	line-height: 1.8;
}

ol {
	counter-reset: counter;
	margin: 0;
	padding: 10px 40px;
	margin-left: 40px;
	list-style-position: inside;
}
ol > li {
	counter-increment: counter;
	margin-bottom: 16px;
}
ol > li::before {
	content: counter(counter) ".";
	font-size: 1rem;
	font-weight: 600;
	color: rgba(149, 158, 67, 1);
	position: absolute;
	margin-left: -40px;
}
ol > li > ul {
	margin: 0;
}
ol > li > ul > li {
	margin-bottom: 8px;
}
ol > li > ul > li::before {
	content: "\261E";
	color: green;
	margin-right: 10px;
}

figure img {
	max-width: 100%;
	border-radius: 5px;
}
figcaption {
	font-size: 0.6rem;
	text-align: center;
}
figcaption::before {
	content: "Credit: Photo by ";
}

.variation {
	font-size: 0.9rem;
	margin: 100px 25px 0 0;
}

.tip {
	font-size: 0.8rem;
	font-style: italic;
}
.tip::before {
	content: "Tip: ";
}

.next {
	font-size: 0.8rem;
	float: right;
	margin: 0 20px 20px 0;
	padding: 5px 15px;
	background-color: tomato;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(77, 77, 77, 1);
	transition: all 0.3s ease;
}
.next:hover {
	box-shadow: none;
}
a {
	text-decoration: none;
	color: #fff;
}
p.last {
	width: 80%;
	margin: 10px auto 20px auto;
	padding-bottom: 30px;
	font-size: 1.25rem;
	text-align: center;
	border-bottom: 2px solid tomato;
}
