*{
    margin:0;
    padding:0;
    overflow:hidden;
 
}
.main-container{
    justify-content: center;;
    height:1000px;
    width:100%;
    display:flex;
    margin-top:80px;
    overflow:hidden;
    
    
}
.small-container{
    overflow:hidden;
}
img{
    height:400px;
    width:400px;
    margin-top:200px;
    overflow: hidden;
}

.heading{
    justify-content:center;
    text-align: center;
    padding:34px;
    color:#fb3d18;
}

.text-area{
    background-color: transparent;
}
.heading p{
    line-height: 20px;
    color:rgb(239, 94, 65);
    
    justify-content: center;
    margin-left:100px;
}
.email{
    line-height: 30px;;
    width:50%;
    display:flex;
    padding:5px;
}
.recipe-name{
    line-height:30px;
    width:50%;
    display:block;
   
}
.description{
    line-height:30px;
    width:50%;
    display:block;
}
#ingridient{
    line-height:30px;
    width:50%;
    display:block;
}
label{
    line-height: 40px;
}
h4{
    line-height: 40px;;
}

button{
    width:130px;
    height:40px;
    border-radius:7%;
    margin:20px;
    justify-content: space-evenly;
}
input{
    background-color: transparent;
    border-style: 2px solid;
}
a{
   cursor:pointer;
    border-radius:4%;
    width:100px;
    padding:9px;
}
form{
    justify-content: center;
   margin-left:200px;
   height:100%;
}
